{% extends 'scrumboard_app/base.html' %}

{% block content %}
    <div class="bodyContent">
        <h1 class="title-page">Crea una nuova Card</h1>
        <div class="container">
            <div class="login-page">
                <div class="form">
                    <form method="POST" class="add-card-form">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Salva</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}