{% extends 'scrumboard_app/base.html' %}
{% block content %}
    <div class="topBar">
        <div class="button-group">
            <form method="POST" action="{% url 'logout' %}" class="logout-form">{% csrf_token %}
                <button type="submit" class="button-topBar" style="float: right">Logout</button>
            </form>
        </div>
    </div>


    <div class="bodyContent">
        <h1 class="title-page">Burndown</h1>
        <div class="boardContainer">
            <table style="max-width:80%">
                <tr>
                    <th>Numero di Card per ogni Colonna:</th>
                    {% for colonna in attrs.colonne %}
                        <td>
                            <p>{{ colonna.nome }}: {{ colonna.cardNum }} </p>
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Numero di Card della Board:</th>
                    <td>
                        <p>{{ attrs.cardNum }}</p>
                    </td>
                </tr>
                <tr>
                    <th>Numero di Card Scadute:</th>
                    <td>
                        <p>{{ attrs.scadute }}</p>
                    </td>
                </tr>
                <tr>
                    <th>Numero di Punti Storia Utilizzati:</th>
                    <td>
                        <p>{{ attrs.ps }}</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}