{% extends 'scrumboard_app/base.html' %}
{% block content %}
    <div class="topBar">
        <div class="button-group">
            <form method="GET" action="{% url 'add_board' %}" class="add-board-form">{% csrf_token %}
                <button type="submit" class="button-topBar" style="float: left">Aggiungi Board</button>
            </form>

            <form method="POST" action="{% url 'logout' %}" class="logout-form">{% csrf_token %}
                <button type="submit" class="button-topBar" style="float: right">Logout</button>
            </form>
        </div>
    </div>


    <div class="bodyContent">
        <h1 class="title-page">Le tue Boards</h1>
        <div class="boardContainer">
            {% for board in boards %}
                <div class="boxBoard" style="float: left">
                    <a href="{% url 'board_details' board_id=board.id %}">{{ board.nome }}</a>
                    <p>{{ board.numCard }} Card</p>
                </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}